// Capacity.scss

.Capacity{
	// padding-bottom: 7%;
	height: 100%;
	.capacitycard{
		height: 100%;
	}
}
.CapacityMap{
}
.Filters{
	// margin-bottom: 20px;
}
.card-body{
	overflow:hidden;
}
.card{
	width: 100%;
}

.recharts-cartesian-axis-tick-value {
	font-size: 12px;
}