// Capacity.scss
@import "../../sass/_vars.scss";

.Capacity{
	// padding-bottom: 7%;
	height: 100%;
	.capacitycard{
		height: 100%;
	}
}
.CapacityMap{
}
.Filters{
	// margin-bottom: 20px;
}
.card-body{
	overflow:hidden;
}
.card{
	width: 100%;
}

.recharts-cartesian-axis-tick-value {
	font-size: 12px;
}
.largenum{

}
.card.singlenum{
	padding: 16px 10px;
	.card-body{
		padding: 0;
	}
	p{
		margin: 0;
		text-align: center;
	}
	.card-title{
		font-size: 14px;
		font-weight: 600;
		color: $darkgray;
	}
	p.largenum{
		font-size: 3rem;
		font-weight: 300;
		color: black;
	}
}
.card.singlenum {
	min-height: 158px;
}
.card.emptymsg {
	padding: 16px 10px;
	p{
		margin: 0;
		text-align: center;
	}
	.card-body {
		padding: 0;
	}
}
.card table {
	width: 95%;
	margin: 0 auto;
}
